<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
        <ul>
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <li style="color: red;">{{ message }}</li>
                {% elif message.tags == 'success' %}
                    <li style="color: green;">{{ message }}</li>
                {% endif %}
            {% endfor %}
         
        </ul>
   
    <h1>Create Social Post</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create Post</button>
    </form>
</body>
</html>